{% block title %}Meet the Dogs{% endblock %}





{% block content %}

	
<div class="content padding-bottom-100">

<div class="col-md-6 text-center">

<h1>Meet Mojo</h1>    
   <img src="/assets/img/mojo-jojo.jpg" class="full-width" />
    
</div>

<div class="col-md-6 text-center">

<h1>Meet Fang</h1>    
   
    
</div>

</div>

<div class="col-md-12 padding-bottom-100">&nbsp;</div>

{% endblock %}


{% block scripts %}
{% comment %} // PASTE IN THIS BLOCK BELOW THE SPECIFIC SCRIPTS FOR THIS PAGE {% endcomment %}
{% endblock %}