{% block title %}Meet the Dogs{% endblock %}





{% block content %}

	
<div class="dogs">

<div class="col-md-6 text-center">

<h1>Meet Mojo</h1>    
   <img src="/assets/img/mojo1.jpg" class="full-width margin-bottom-20" />
    <p>I'm a little dog that loves to party.  And eat.  I love to eat.</p>
</div>

<div class="col-md-6 text-center">

<h1>Meet Fang</h1>    
   <img src="/assets/img/fang1.jpg" class="full-width margin-bottom-20" />
   <p>I am an angry little dog that loves to protect the house and sleep.  I need lots of sleep.</p>
    
</div>

</div>

<div class="col-md-12 padding-bottom-100">&nbsp;</div>

{% endblock %}


{% block scripts %}
{% comment %} // PASTE IN THIS BLOCK BELOW THE SPECIFIC SCRIPTS FOR THIS PAGE {% endcomment %}
{% endblock %}