{% block title %}Little Dogs{% endblock %}





{% block content %}

	<h1>Little dogs are fun.</h1>

	<img src="/assets/img/mojo.jpg" class="full-width" alt="Mojo the Dog" />

{% endblock %}


{% block scripts %}
{% comment %} // PASTE IN THIS BLOCK BELOW THE SPECIFIC SCRIPTS FOR THIS PAGE {% endcomment %}
{% endblock %}