{% block title %}PokitDogs{% endblock %}





{% block content %}

	
<div class="content">

<div class="col-md-4">
    <img src="/assets/img/althea-and-mojo.jpg" class="full-width" alt="Althea Fann and Mojo the Dog" />
</div>
<div class="col-md-8 margin-top-25 margin-bottom-20">
	<h1>Little dogs are fun.</h1>
	<p>Fang and Mojo are two <strong>PokitDogs</strong> that may change the way you think about canines in general.</p>
	
	<p class="margin-bottom-20">Small enough to carry in your pocket, but spunky enough to topple you over when you get home, <strong>PokitDogs</strong> will revolutionize your life!</p>
	
	<p><a class="btn btn-md btn-warning" href="dogs">Learn More</a></p>
</div>

</div>

{% endblock %}


{% block scripts %}
{% comment %} // no scripts needed as of yet... {% endcomment %}
{% endblock %}