{% block title %}PokitDogs{% endblock %}





{% block content %}

	
<div class="content">

<div class="col-md-4">
    <img src="/assets/img/dog-drawing.png" class="full-width" alt="Purple Dog Illustration" />
</div>
<div class="col-md-8 margin-top-25">
	<h1>Little dogs are fun.</h1>
	<p>Fang and Mojo are two <strong>PokitDogs</strong> that may change the way you think about canines in general.</p>
	
	<p><a class="btn btn-md btn-warning" href="dogs">Learn More</a></p>
</div>

</div>

{% endblock %}


{% block scripts %}
{% comment %} // PASTE IN THIS BLOCK BELOW THE SPECIFIC SCRIPTS FOR THIS PAGE {% endcomment %}
{% endblock %}